.bMenuContainer{
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    z-index: 3300;
    margin: 105px 10px;
}

.menuButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    opacity: .80;
    background-color: #868686;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
}

.menuIcon{
    color: #ffffff;
    font-size: 25px;
    opacity: 1;
}

.closeMenuIcon{
    color: #ffffff;
    font-size: 25px;
    opacity: 1;
}

.menuButton:hover{
    opacity: 1;
}


.menuContent{
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 50px;
    margin: 165px 10px;
    z-index: 3300;
    max-height: 370px;
    border-radius: 2px;
}


.menuItems{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bContent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    opacity: .80;
    background-color: #868686;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid transparent;
}

.bContent:hover{
    opacity: 1;
}



.menuItems li{ 
    display: flex;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    padding: 5px 0px;
}


.menuItems .menuItemsli:first-child {
    padding-top: 0px;
}

.menuItems .menuItemsli:last-child {
    padding-bottom: 0px;
}


.menuItems li span{ 
    font-size: 14px;
    font-family: "Inter", system-ui;
    font-weight: 500;
}

.infoIcon{ 
    font-size: 20px;
}

.downloadIcon{ 
    font-size: 20px;
}



.PTMlayerContainer{ 
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 358px;
    margin: 165px 70px;
    z-index: 600;
    background-color: #ffffff;
    max-height: 170px;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    border: 1px groove #babdc5;
}

.PTMNavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    background-color: #e2e2e2;
    position: sticky;
    top: 0;
    z-index: 700;
    border-bottom: 1px groove #babdc5;
    border-radius: 2px 2px 0px 0px;
}

.PTMNavarTitle{
    font-size: 14px;
    font-family: "Inter", system-ui;
    color: #585858;
    font-weight: bold;
}

.PTMcloseIcon{
    color: #868686;
    font-size: 19px;
    cursor: pointer;
    padding-left: 15px;
}

.PTMcloseIcon:hover{
    color: #4c4c4d;
}

.PTMlayerContent{
    overflow-y: auto; 
    flex-grow: 1;
    z-index: 800;
    border-radius: 0px 0px 2px 2px;
}

.PTMlayerItem{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 0px 0px 2px 2px;
}

.PTMlayerItem li{   
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    color: #000000;
    height: 100px;
    max-height: 57px;
    font-size: 14px;
    padding: 12px 12px;
}

.PTMliSwitchText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.PTMliRange{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.PTMminValue{
    padding-right: 12px;
}

.PTMmaxValue{
    padding-left: 12px;
}

.SPIlayersContainer{
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 358px;
    margin: 225px 70px;
    z-index: 500;
    background-color: #ffffff;
    max-height: 320px;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    border: 1px groove #babdc5;
}

.SPINavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    background-color: #e2e2e2;
    position: sticky;
    top: 0;
    z-index: 700;
    border-bottom: 1px groove #babdc5;
    border-radius: 2px 2px 0px 0px;
}

.SPINavarTitle{
    font-size: 14px;
    font-family: "Inter", system-ui;
    color: #585858;
    font-weight: bold;
}

.SPIcloseIcon{
    color: #868686;
    font-size: 19px;
    cursor: pointer;
}

.SPIcloseIcon:hover{
    color: #4c4c4d;
}

.SPIlayersContent{
    overflow-y: auto; 
    flex-grow: 1;
    z-index: 400;
    border-radius: 0px 0px 2px 2px;
}

.SPIlayersItem{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 0px 0px 2px 2px;
}

.SPIlayersItem li{ 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    color: #000000;
    padding: 12px 12px;
    height: 57px;
    font-size: 14px;
    border-right: 1px groove #babdc5;
    border-top: 1px groove #babdc5;
}

.SPIliSwitchText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.SPIliRange{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.SPIminValue{
    padding-right: 12px;
}

.SPImaxValue{
    padding-left: 12px;
}

.inputRange{
    width: 100%;
    height: 3px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
    z-index: 2222;
    cursor: pointer;

}

.SPIlayersItem li:first-child {
    border-top: none;
}

.SPIlayersItem li:last-child {
    border-bottom: none;
}




.modal{
    max-height: 295px;
    width: 510px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 105px;
    left: 54px;
    z-index: 100000;
    border-radius: 0px 0px 4px 4px;
    background: #ffffff;
    border: 1px groove #babdc5;
    border-radius: 2px;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    cursor: move;
}

.modalNavBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    background-color: #e2e2e2;
    position: sticky;
    top: 0;
    z-index: 10000;
    border-bottom: 1px groove #babdc5;
    border-radius: 2px 2px 0px 0px;
    user-select: none;
}

.modalNavarTitle{
    font-size: 14px;
    font-family: "Inter", system-ui;
    color: #585858;
    font-weight: bold;
    padding-left: 14.25px;
}

.modalCloseIcon{
    color: #868686;
    font-size: 19px;
    cursor: pointer;
}

.modalCloseIcon:hover{
    color: #4c4c4d;
}


.modalCoordinates{
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-bottom: 1px groove #babdc5;
    user-select: none;
}

.coordinatesInfo{
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.coordinatesTitle{
    font-size: 14px;
    font-family: "Inter", system-ui;
    color: #585858;
    font-weight: bold;
}

.copyIcon{
    font-size: 16px;
    color: #868686;
    cursor: pointer;
}

.copyIcon:hover{
    color: #4c4c4d;
}

.okIcon{
    font-size: 16px;
    color: #868686;
}

.coordinatesResult{
    display: flex;
}

.latResult{
    font-size: 14px;
    color: #000000;
    padding-right: 4px;
}

.lngResult{
    font-size: 14px;
    color: #000000;
}

.modalResults{
    overflow-y: auto; 
    flex-grow: 1;
    z-index: 500;
    border-radius: 0px 0px 2px 2px;
    user-select: none;
}


.modalResults ul{ 
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 0px 0px 2px 2px;
}

.modalResults li{ 
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 12px 12px;
    font-size: 14px;
    color: #000000;
    border-right: 1px groove #babdc5;
    border-top: 1px groove #babdc5;
}


.modalResults li span{ 
    font-size: 14px;
    font-family: "Inter", system-ui;
    color: #585858;
    font-weight: bold;
}

.modalResults li:first-child {
    border-top: none;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 9px;
  }

::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #babdc5;
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
    cursor: default;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4c4c4d;
}











