/*Contenedor general*/
.spiLayersContainer{
    top: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 358px;
    margin: 224px 70px;
    z-index: 4500;
    background-color: #ffffff;
    max-height: 289px;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    border: 1px groove #babdc5;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s; 
    visibility: hidden;
    pointer-events: none; 
}

.spiLayersContainer.visible {
    opacity: 1;
    visibility: visible; 
    transition: opacity 0.3s ease-in-out, visibility 0s; 
    pointer-events: all;
}

.spiLayersContainer.hidden {
    cursor: default;
    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.3s ease-in-out, visibility 0s 0.3s; 
    pointer-events: none;
}



/*Estilo navbar*/
.spiNavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px;
    background-color: #e2e2e2;
    position: sticky;
    top: 0;
    border-bottom: 1px groove #babdc5;
    border-radius: 2px 2px 0px 0px;
}

.spiNavbarTitle{
    font-size: 14px;
    font-family: "Inter", system-ui;
    color: #585858;
    font-weight: bold;
    cursor: text;
    user-select: text;
}

.spiCloseIcon{
    color: #868686;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.spiCloseIcon:hover{
    color: #4c4c4d;
    transition: all 0.3s ease;
}

.spiLayersContainer.hidden .spiCloseIcon {
    cursor: default;
}



/*Estilo contenedor de capas*/
.spiLayersContent{
    overflow-y: auto; 
    flex-grow: 1;
    z-index: 3300;
    border-radius: 0px 0px 2px 2px;
}

.spiLayersItems{
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 0px 0px 2px 2px;
}

.spiLayersItems li{
    height: 82px; 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 12px 12px;
    border-right: 1px groove #babdc5;
    border-top: 1px groove #babdc5;
    box-sizing: border-box;
}

.spiLayersItems li:first-child {
    border-top: none;
}




/*Estilo elementos de cada capa*/
.spiSwitchText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.spiLayerName{
    color: #000000;
    cursor: text;
    user-select: text;
    font-size: 14px;
    font-family: "Inter", system-ui;
    font-weight: 500;
}

.spiLayersRange{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.spiOpacityValue{
    padding-left: 15px;
    width: 40px;
    text-align: right;
    cursor: text;
    color: #000000;
    font-size: 14px;
    font-family: "Inter", system-ui;
    font-weight: 500;
}



