/* Estilo contenedor general */
.homeContainer{
  min-width: 320px;
  height : 100vh;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

  

/* Estilo Scrollbar */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #babdc5;
  border-radius: 20px;
  border: 1px solid transparent;
  background-clip: content-box;
  cursor: default;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4c4c4d;
  transition: all 0.3s ease;
}



