/*Estilo de contenedores generales*/
.coordinatesMap{
    height: 35px;
    width: 190px;
    bottom: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D2D5DA;
    border-radius: 5px;
    margin-bottom: 60px;
    margin-right: 10px;
    z-index: 100000;
    opacity: .80;
}

.coordinatesItems{
    text-align: center;
    cursor: text;
    user-select: text;
}



/*Estilo coordenadas*/
.coordinatesLatLng{
    font-size: 13px;
    font-family: "Inter", system-ui;
    color: #585858;
    font-weight: bold;
}

