.homeBody{
  min-width: 320px;
  height : 100vh;
  display: flex;
  flex-direction: column;  
  place-items: center;
  justify-content: center;
  background-color: #e4fafc;
}



.divElements{
display: flex;
flex-direction: column;  
justify-content: center;
text-align:center;
width:250px;
height: 250px;
}

h2{
  color: #1a1a1a;
}


