/*Estilo de contenedores generales*/
.searchMap{
    height: 37px;
    width: 332px;
    display: flex;
    flex-direction: row;
    position: fixed;
    margin: 104px 70px;
    top: 0;
    right: 0;
    padding: 0 12px;
    z-index: 100000;
    border-radius: 4px;
    background: #ffffff;
    border: 2px solid #babdc5;
    transition: all 0.3s ease;
}

.searchMap:hover, .searchMap:focus-within{
    border: 2px solid #6D7280;
    transition: all 0.3s ease;
}

.itemsSearchMap {
    display: flex;
    width: 100%;
    border: none;
}



/*Estilo Barra de Busqueda*/
.inputSearchMap {
    width: 100%;
    border: none;
    outline: none;
    background: #ffffff;
    font-size: 14px;
    font-family: "Inter", system-ui;
    font-weight: 500;
    color: #6D7280;
    letter-spacing: .00937em;
}

.searchMap:hover .inputSearchMap {
    color: #000000;
}

.inputSearchMap:focus{
    color: #000000;
}



/*Estilo Iconos*/
.iconsSearchMap {
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.searchIcon{
    color: #6D7280;
    font-size: 17px;
    cursor: pointer;
}

.questionIcon{
    color: #6D7280;
    font-size: 17px;
    padding-left: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.questionIcon:hover{
    color: #1a34aa;
    transition: all 0.3s ease;
}

.deleteIcon{
    color: #6D7280;
    font-size: 17px;
    padding-left: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.deleteIcon:hover{
    color: #9e2d2d;
    transition: all 0.3s ease;
}


